<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="favicon.ico" type="image/x-icon" /> 
  </head>
  <body>

    
     <h2>B. Vicente</h2>
     <img src="foto.jpg" width="120" height="130" ALT="B. Vicente">

  </body>

    

</html>
