<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8"><title>Quiz</title>
     <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
     <h2>B. Vicente</h2>
     <img src="foto.jpg" width="120" height="130" ALT="B. Vicente">
  </body>
</html>
